[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DHBins"]
	path = DHBins
	url = https://github.com/tslumley/dhbins
[submodule "bigQF"]
	path = bigQF
	url = https://github.com/tslumley/bigqf
[submodule "hextri"]
	path = hextri
	url = https://github.com/tslumley/hextri
[submodule "leaps"]
	path = leaps
	url = https://github.com/cran/leaps
[submodule "mitools"]
	path = mitools
	url = https://github.com/cran/mitools
[submodule "rimu"]
	path = rimu
	url = https://github.com/tslumley/rimu
[submodule "rmeta"]
	path = rmeta
	url = https://github.com/cran/rmeta
[submodule "survey"]
	path = survey
	url = https://github.com/cran/survey
[submodule "svyVGAM"]
	path = svyVGAM
	url = https://github.com/tslumley/svyvgam
[submodule "xkcdcolors"]
	path = xkcdcolors
	url = https://github.com/tslumley/xkcdcolors
